* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: brown;
  height: 10vh;
  width: 100%;
  font-size: large;
  
}
a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
a.selected {
  text-decoration: none;
  color: rgb(88, 10, 85);
  border-bottom: 2px solid rgb(29, 252, 47);
}
