.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
  height: 30vh;
  width: 100%;
}
a.selected {
  text-decoration: none;
  color: green;
  border-bottom: 5px solid black;
}
